{% extends 'base.html.twig' %}

{% block title 'actor.profile'|trans %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.birthday) }}
        {{ form_row(form.gender) }}
        {{ form_row(form.emailAddress) }}

        <button type="submit">
            {{ 'actor.profile.save'|trans }}
        </button>
    {{ form_end(form) }}

    <a href="{{ path('app_profile_change_password') }}">
        {{ 'actor.profile.change_password'|trans }}
    </a>
{% endblock %}
