{% extends 'base.html.twig' %}

{% block title %}administrator setup{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.emailAddress) }}
        {{ form_row(form.password) }}

        <button type="submit">{{ 'save'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
