<div class="card card--event mb-4">
    <h4 class="card__title">
        <a href="{{ path('app_event_view', {'slug': event.slug}) }}">
            {{ event.name }}
        </a>
    </h4>

    <div class="card__subtitle">
        {{ event.beginAt|localizeddate('full') }}
    </div>

    <div class="card__subtitle text-black">
        {{ event.description }}
    </div>

    <div class="card__user">
        <div class="card__user__icon">
            <i class="fas fa-user"></i>
        </div>
        <div class="card__user__profile">
            {{ 'event_card.organized_by'|trans({'%name%': event.creator.fullName}) }}
        </div>
    </div>
</div>
