<div class="card card--event mb-4">
    <h4 class="card__title">
        <a href="{{ path('app_event_view', {'slug': event.slug}) }}">
            {{ event.name }}
        </a>
    </h4>

    <div class="card__subtitle">
        {{ event.beginAt|localizeddate('full') }}
    </div>

    <div class="card__subtitle">
        {{ event.description }}
    </div>

    <div class="card__user">
        <div class="card__user__image">
            <img src="{{ image_asset('fixtures/users/default.jpg', {'w': 100}) }}" />
        </div>
        <div class="card__user__profile">
            Organisé par <a href="">{{ event.creator.fullName }}</a>
            <br />
            De <a href="">{{ event.group.name }}</a>
        </div>
    </div>
</div>
