<div class="event">
    <h4>{{ event.name }}</h4>

    <p>Organisé par: {{ event.creator.fullName }}</p>

    <p>
        Début: {{ event.beginAt|localizeddate('full') }}
        <br>
        Fin: {{ event.finishAt|localizeddate('full') }}
    </p>
    <p>
        {{ event.description }}
    </p>
</div>
