<h4>{{ event.name }}</h4>
<p>Organisé par: {{ event.creator.fullName }}</p>
<p>
    Début: {{ event.beginAt|date }}
    <br>
    Fin: {{ event.finishAt|date }}
</p>
<p>
    {{ event.description }}
</p>
