{% if is_granted('GROUP_FOLLOW', group) or is_granted('GROUP_UNFOLLOW', group)  %}
    <div class="mb-5">
        {% if is_granted('GROUP_UNFOLLOW', group) %}
            <a href="{{ path('app_group_unfollow', { slug: group.slug }) }}" class="btn btn-block btn-primary">
                Unfollow
            </a>
        {% endif %}

        {% if is_granted('GROUP_FOLLOW', group) %}
            <a href="{{ path('app_group_follow', { slug: group.slug }) }}" class="btn btn-block btn-primary">
                Follow
            </a>
        {% endif %}
    </div>
{% endif %}

<div class="address mb-2">
    <div class="address__icon">
        <i class="fas fa-map-marker-alt"></i>
    </div>
    <div class="address__text">
        <div class="address__text__street">
            {{ group.address }}
        </div>
        <div class="address__text__city">
            {{ group.city.name }}, {{ group.city.country|country }}
        </div>
    </div>
</div>

<div class="text-muted">
    <small>
        <a href="https://maps.google.com/?q={{ group.address }} {{ group.city.name }} {{ group.city.country|country }}" target="_blank">
            Voir sur Google Maps
        </a>
    </small>
</div>

<h5 class="mt-5">
    À propos
</h5>

<div id="group-description">
    {{ group.description|nl2br }}
</div>

<h5 class="mt-5">
    Animé par :
</h5>

<div id="animators">
    <div>
        {{ group.animator.fullName }}
    </div>

    {% for coAnimator in group.coAnimators %}
        <div>
            {{ coAnimator.fullName }}
        </div>
    {% endfor %}
</div>
