{% extends 'base.html.twig' %}

{% block title 'security.login.title'|trans %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="login_error">
                {{ error.messageKey|trans(error.messageData)|raw }}
            </div>
        {% endif %}

        <label for="emailAddress">{{ 'security.login.email'|trans }}</label>
        <input type="email"
               value="{{ last_username }}"
               name="emailAddress"
               id="emailAddress"
               placeholder="{{ 'security.login.email'|trans }}"
               required autofocus>

        <label for="inputPassword">{{ 'security.login.password'|trans }}</label>
        <input type="password"
               name="password"
               id="inputPassword"
               placeholder="{{ 'security.login.password'|trans }}"
               required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">
            {{- 'security.login.submit'|trans -}}
        </button>
    </form>

    <a href="{{ path('app_actor_reset_password_request') }}">
        {{- 'actor.reset_password.request.link'|trans -}}
    </a>
{% endblock %}
