{% extends 'base.html.twig' %}

{% block page_title 'group_edit.title'|trans %}

{% block javascripts encore_entry_script_tags('city-autocomplete') %}

{% block intro %}
    <div class="intro">
        <div class="container">
            <h2 class="intro__title">
                {{ 'group_edit.title'|trans }}
            </h2>

            {{ group.name }}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <div class="mb-4">
                <a href="{{ path('app_group_view', {'slug': group.slug}) }}">
                    <i class="fas fa-caret-left"></i>
                    {{ 'base.back'|trans }}
                </a>
            </div>

            {{ form_start(form) }}

            <h5 class="mb-3">
                {{ 'group_form.information'|trans }}
            </h5>

            {{ form_row(form.name, { label: 'group_form.name' }) }}
            {{ form_row(form.description, { label: 'group_form.description', help: 'group_form.description_help' }) }}

            <h5 class="mb-3 mt-5">
                {{ 'group_form.postalAddress'|trans }}
            </h5>

            {{ form_row(form.country, { label: 'base.address.country' }) }}

            {{ form_row(form.address, { label: 'base.address.streetAddress' }) }}

            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.zipCode, { label: 'base.address.postalCode' }) }}
                </div>
                <div class="col-md-8">
                    {{ form_row(form.city, { label: 'base.address.city' }) }}
                </div>
            </div>

            <div class="mt-5 text-center">
                <button type="submit" class="btn btn-lg btn-block btn-primary">
                    {{ 'group_edit.submit'|trans }}
                </button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
