{% extends 'base.html.twig' %}

{% block page_title event.name %}

{% block intro %}
    <div class="intro intro--primary mb-5">
        <div class="container">
            <h2 class="intro__title">
                {{ event.name }}
            </h2>

            {{ event.beginAt|localizeddate('full') }}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <div class="row align-items-center">
                <div class="col text-muted">
                    {{ 'event_card.organized_by'|trans({ '%name%': event.creator.fullName }) }}
                    <br />
                    {{ 'event_card.from'|trans }}
                    <a href="{{ path('app_group_view', {'slug': event.group.slug}) }}">
                        {{ event.group.name }}
                    </a>
                </div>
                <div class="col">
                    <div class="address mb-1">
                        <div class="address__icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="address__text">
                            <div class="address__text__street">
                                {{ event.address }}
                            </div>
                            <div class="address__text__city">
                                {{ event.city.name }}, {{ event.city.country|country }}
                            </div>
                        </div>
                    </div>

                    <small>
                        <a href="https://maps.google.com/?q={{ event.address }} {{ event.city.name }} {{ event.city.country|country }}" target="_blank">
                            {{ 'event_view.google_maps'|trans }}
                        </a>
                    </small>
                </div>
            </div>

            <div id="event-description" class="mt-5 mb-5">
                {{ event.description|raw }}
            </div>

            <a href="" class="btn btn-primary btn-lg btn-block">
                {{ 'event_view.register'|trans }}
            </a>
            <a href="" class="btn btn-link btn-block">
                {{ 'event_view.contact_organizer'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
