{% extends 'base.html.twig' %}

{% block page_title 'register.title'|trans %}

{% block javascripts encore_entry_script_tags('city-autocomplete') %}

{% block intro %}
    <div class="intro intro--primary">
        <div class="container">
            <h2 class="intro__title">
                {{ 'register.main'|trans }}
            </h2>

            {{ 'register.sub'|trans }}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-6">
            {{ form_start(form) }}

            <h5 class="mb-3">
                {{ 'profile.personal'|trans }}
            </h5>
            <div class="row">
                <div class="col-md">
                    {{ form_row(form.firstName, { label: 'profile.firstName' }) }}
                </div>
                <div class="col-md">
                    {{ form_row(form.lastName, { label: 'profile.lastName' }) }}
                </div>
            </div>

            {{ form_row(form.emailAddress, { label: 'profile.email' }) }}

            <div class="row">
                <div class="col-md">
                    {{ form_row(form.plainPassword.first, { label: 'profile.password' }) }}
                </div>
                <div class="col-md">
                    {{ form_row(form.plainPassword.second, { label: 'profile.passwordConfirm' }) }}
                </div>
            </div>

            <h5 class="mb-3 mt-4">
                {{ 'profile.postalAddress'|trans }}
            </h5>

            {{ form_row(form.country, { label: 'base.address.country' }) }}

            {{ form_row(form.address, { label: 'base.address.streetAddress' }) }}

            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.zipCode, { label: 'base.address.postalCode' }) }}
                </div>
                <div class="col-md-8">
                    {{ form_row(form.city, { label: 'base.address.city' }) }}
                </div>
            </div>

            <h5 class="mb-3 mt-5">
                {{ 'profile.birthdate'|trans }}
            </h5>

            <div class="row">
                <div class="col-md-8">
                    {{ form_row(form.birthday, { label: false }) }}
                </div>
                <div class="col-md-4"></div>
            </div>

            <h5 class="mb-3 mt-5">
                {{ 'register.terms.title'|trans }}
            </h5>

            <p>
                {{ 'register.terms.message'|trans({'%terms_url%': path('app_page_terms'), '%privacy_url%': path('app_page_privacy')})|raw }}
            </p>

            {{ form_row(form.terms, { label: 'register.terms.label' }) }}

            <div class="mt-5 text-center">
                <button type="submit" class="btn btn-lg btn-block btn-primary">
                    {{ 'register.submit'|trans }}
                </button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
