{% extends 'base.html.twig' %}

{% block intro %}
    <div class="intro">
        <div class="container">
            <h2 class="intro__title">
                {{ app.user.fullName }}
            </h2>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link {% block item_profile_edit '' %}" href="{{ path('app_actor_profile_edit') }}">
                        {{ 'profile.menu.account'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block item_profile_password '' %}" href="{{ path('app_actor_profile_change_password') }}">
                        {{ 'profile.menu.password'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block item_profile_notifications '' %}" href="{{ path('app_actor_profile_notifications') }}">
                        {{ 'profile.menu.notifications'|trans }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            {% block profile_body '' %}
        </div>
    </div>
{% endblock %}
