{% extends 'actor/profile/_base.html.twig' %}

{% block page_title 'actor.profile.change_password.title'|trans %}
{% block item_profile_password 'active' %}

{% block profile_body %}
    {{ form_start(form)}}

    {{ form_row(form.currentPassword, { label: 'actor.current_password.label' }) }}
    {{ form_row(form.plainPassword.first, { label: 'actor.password.label' }) }}
    {{ form_row(form.plainPassword.second, { label: 'actor.password.confirmation' }) }}

    <div class="mt-5">
        <button type="submit" class="btn btn-primary">
            {{ 'actor.profile.change_password.submit'|trans }}
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}
