{% extends 'base.html.twig' %}

{% block title 'actor.profile.change_password'|trans %}

{% block body %}
    {{ form_start(form)}}
        {{ form_row(form.password) }}

        <button type="submit">
            {{ 'actor.profile.change_password'|trans }}
        </button>
    {{ form_end(form) }}

    <a href="{{ path('app_actor_profile_edit') }}">
        {{ 'actor.back_to_profile'|trans }}
    </a>
{% endblock %}
