{% extends 'base.html.twig' %}

{% block title 'actor.profile.change_password.title'|trans %}

{% block body %}
    {{ form_start(form)}}
        {{ form_row(form.password.first, { label: 'actor.password' }) }}
        {{ form_row(form.password.second, { label: 'actor.password_confirmation' }) }}

        <button type="submit">
            {{ 'actor.profile.change_password.submit'|trans }}
        </button>
    {{ form_end(form) }}

    <a href="{{ path('app_actor_profile_edit') }}">
        {{ 'actor.profile.edit.link.back'|trans }}
    </a>
{% endblock %}
