{% extends 'base.html.twig' %}

{% block title 'actor.profile.edit.title'|trans %}

{% block javascripts encore_entry_script_tags('city-autocomplete') %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.firstName, { label: 'actor.first_name.label' }) }}
        {{ form_row(form.lastName, { label: 'actor.last_name.label' }) }}
        {{ form_row(form.birthday, { label: 'actor.birthday.label' }) }}
        {{ form_row(form.gender, { label: 'actor.gender.label', placeholder: 'common.gender.select' }) }}
        {{ form_row(form.emailAddress, { label: 'actor.email_address.label.label' }) }}
        {{ form_row(form.address, { label: 'actor.address.label' }) }}

        {{ form_row(form.country, { label: 'register.fields.country' }) }}
        {{ form_row(form.address, { label: 'register.fields.streetAddress' }) }}

        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.zipCode, { label: 'register.fields.postalCode' }) }}
            </div>
            <div class="col-md-8">
                {{ form_row(form.city, { label: 'register.fields.city' }) }}
            </div>
        </div>

        <button type="submit">
            {{ 'actor.profile.edit.submit'|trans }}
        </button>
    {{ form_end(form) }}

    <a href="{{ path('app_actor_profile_change_password') }}">
        {{ 'actor.profile.change_password.link.default'|trans }}
    </a>
{% endblock %}
