{% extends 'base.html.twig' %}

{% block title 'actor.profile.edit.title'|trans %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.firstName, { label: 'actor.first_name.label' }) }}
        {{ form_row(form.lastName, { label: 'actor.last_name.label' }) }}
        {{ form_row(form.birthday, { label: 'actor.birthday.label' }) }}
        {{ form_row(form.gender, { label: 'actor.gender.label', placeholder: 'common.gender.select' }) }}
        {{ form_row(form.emailAddress, { label: 'actor.email_address.label.label' }) }}
        {{ form_row(form.address, { label: 'actor.address.label' }) }}
        {{ form_row(form.country, { label: 'actor.country.label' }) }}
        {{ form_row(form.zipCode, { label: 'actor.zip_code.label' }) }}


        {# since `form.city` is a hidden type we need to explicitly show errors with `form_errors(form.city)` #}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city) }}

        <button type="submit">
            {{ 'actor.profile.edit.submit'|trans }}
        </button>
    {{ form_end(form) }}

    <a href="{{ path('app_actor_profile_change_password') }}">
        {{ 'actor.profile.change_password.link.default'|trans }}
    </a>
{% endblock %}
