{% extends 'base.html.twig' %}

{% block title 'actor.reset_password.reset.title'|trans %}

{% block body %}
    {{ form_start(form)}}
        {{ form_row(form.plainPassword) }}

        <button type="submit">
            {{ 'actor.reset_password.reset.submit'|trans }}
        </button>
    {{ form_end(form) }}

    <a href="{{ path('app_login') }}">
        {{- 'security.login.link.back'|trans -}}
    </a>
{% endblock %}
