{% extends 'base.html.twig' %}

{% block title 'group.creation.create.title'|trans %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name, { label: 'group.name' }) }}
        {{ form_row(form.address, { label: 'group.address' }) }}
        {{ form_row(form.country, { label: 'group.country' }) }}
        {{ form_row(form.zipCode, { label: 'group.zip_code' }) }}

        {# since `form.city` is a hidden type we need to explicitely show errors with `form_errors(form.city)` #}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city) }}

        <button type="submit">
            {{ 'group.creation.create.submit'|trans }}
        </button>
    {{ form_end(form) }}
{% endblock %}
