{% set current_route = app.request.attributes.get('_route') %}
{% set current_route_params = app.request.attributes.get('_route_params') %}
{% set instance_configuration = get_instance_configuration() %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
        <meta name="referrer" content="origin" />

        <title>{% block title %}{% block page_title '' %} | {{ instance_configuration.partyName }}{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto+Slab:400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext" rel="stylesheet">
        {{ encore_entry_link_tags('lib') }}
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header__row">
                    <div class="header__logo">
                        <a href="{{ path('app_homepage') }}">
                            <img src="{{ image_asset(instance_configuration.partyLogo) }}" />
                        </a>
                    </div>
                    <nav class="header__search">
                        <a href="">
                            {{ 'layout.header.find_event'|trans }}
                        </a>
                        <a href="">
                            {{ 'layout.header.find_group'|trans }}
                        </a>
                        {% if is_granted('GROUP_CREATE') %}
                            <a href="{{ path('app_group_creation_create') }}" class="text-primary">
                                {{ 'layout.header.create_group'|trans }}
                            </a>
                        {% endif %}
                    </nav>
                    <nav class="header__user">
                        {% if app.user %}
                            {% if is_granted('ROLE_ACTOR') %}
                                <a href="{{ path('app_actor_profile_edit') }}">
                                    {{ app.user.fullName }}
                                </a>
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('sonata_admin_dashboard') }}">
                                    {{ 'layout.header.admin.dashboard'|trans }}
                                </a>
                            {% elseif is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <a href="{{ path('app_admin_impersonation_exit') }}">
                                    {{ 'layout.header.admin.quit_impersonation'|trans }}
                                </a>
                            {% else %}
                                <a href="{{ path('app_logout') }}">
                                    {{ 'layout.header.user.logout'|trans }}
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('app_login') }}">
                                {{ 'layout.header.user.login'|trans }}
                            </a>
                            <a href="{{ path('app_actor_registration_register') }}">
                                {{ 'layout.header.user.register'|trans }}
                            </a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </header>

        {% block intro '' %}

        <div class="container">
            {% block flash_message %}
                {% for message in app.flashes('info') %}
                    <div class="alert alert-primary">
                        {{ message|trans }}
                    </div>
                {% endfor %}

                {% block extra_flash_messages '' %}
            {% endblock %}

            {% block body '' %}
        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer__row">
                    <div class="footer__copyright">
                        © {{ instance_configuration.partyName }}
                    </div>
                    <div class="footer__links">
                        <a href="">
                            {{ 'layout.footer.network'|trans }}
                        </a>
                        <a href="">
                            {{ 'layout.footer.legalities'|trans }}
                        </a>
                        <a href="">
                            {{ 'layout.footer.terms'|trans }}
                        </a>
                        <a href="">
                            {{ 'layout.footer.privacy'|trans }}
                        </a>
                        <a href="">
                            {{ 'layout.footer.contact'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
