{% set has_role_user = is_granted('ROLE_USER') %}
{% set has_role_adherent = is_granted('ROLE_ADHERENT') %}
{% set has_role_admin = is_granted('ROLE_ADMIN_DASHBOARD') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% block flash_message %}
            {% for message in app.flashes('info') %}
                <div class="flash notice-flashes">
                    <div class="flash__inner">{{ message|trans }}</div>
                </div>
            {% endfor %}
        {% endblock %}

        {% if is_granted('ROLE_ADMIN_DASHBOARD') %}
            <a href="{{ path('sonata_admin_dashboard') }}">
                admin
            </a>
        {% else %}

            {% if app.user %}
                Hello {{ app.user.firstName }}!
                ({{ app.user.emailAddress }})
            {% endif %}
            <ul>
                {% if app.user %}
                    <li>
                        <a href="{{ path('app_profile_edit') }}">profile</a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}">logout</a>
                    </li>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li class="text--small">
                            <a href="{{ path('app_admin_impersonation_exit') }}">
                                quit impersonation
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if not app.user %}
                    <li>
                        <a href="{{ path('app_login') }}">login</a>
                    </li>
                    <li>
                        <a href="{{ path('app_registration_form') }}">register</a>
                    </li>
                {% endif %}
            </ul>

        {% endif %}
        <hr>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
