{% set current_route = app.request.attributes.get('_route') %}
{% set current_route_params = app.request.attributes.get('_route_params') %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
        <meta name="referrer" content="origin" />

        <title>{% block title 'common.title.default'|trans %}</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto+Slab:400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext" rel="stylesheet">
        {{ encore_entry_link_tags('lib') }}
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header__row">
                    <div class="header__logo">
                        <a href="{{ path('app_homepage') }}">
                            {{ include('_components/logo.html.twig') }}
                        </a>
                    </div>
                    <nav class="header__search">
                        <a href="">
                            {{ 'common.header.find_event'|trans }}
                        </a>
                        <a href="">
                            {{ 'common.header.find_group'|trans }}
                        </a>
                        {% if is_granted('GROUP_CREATE') %}
                            <a href="{{ path('app_group_creation_create') }}" class="text-primary">
                                {{ 'common.header.create_group'|trans }}
                            </a>
                        {% endif %}
                    </nav>
                    <nav class="header__user">
                        {% if app.user %}
                            {% if is_granted('ROLE_ACTOR') %}
                                <a href="{{ path('app_actor_profile_edit') }}">
                                    {{ app.user.fullName }}
                                </a>
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('sonata_admin_dashboard') }}">
                                    {{ 'admin.dashboard.link'|trans }}
                                </a>
                            {% elseif is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <a href="{{ path('app_admin_impersonation_exit') }}">
                                    {{ 'admin.impersonation.quit.link'|trans }}
                                </a>
                            {% endif %}

                            <a href="{{ path('app_logout') }}">
                                {{ 'security.logout'|trans }}
                            </a>
                        {% else %}
                            <a href="{{ path('app_login') }}">
                                {{ 'security.login.link.default'|trans }}
                            </a>
                            <a href="{{ path('app_actor_registration_register') }}">
                                {{ 'actor.registration.register.link.default'|trans }}
                            </a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </header>

        <div class="container">
            {% block flash_message %}
                {% for message in app.flashes('info') %}
                    <div class="alert alert-dismissible alert-primary">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p class="mb-0">{{ message|trans }}</p>
                    </div>
                {% endfor %}

                {% block extra_flash_messages '' %}
            {% endblock %}

            {% block body %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer__row">
                    <div class="footer__copyright">
                        © Renaissance
                    </div>
                    <div class="footer__links">
                        <a href="">
                            Mentions légales
                        </a>
                        <a href="">
                            Conditions d’utilisation
                        </a>
                        <a href="">
                            Politique de confidentialité
                        </a>
                        <a href="">
                            FAQ
                        </a>
                        <a href="">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
