<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title 'common.title.default'|trans %}</title>

        {% block stylesheets %}{% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto+Slab:400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext" rel="stylesheet">

        {{ encore_entry_link_tags('lib') }}
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        {% block flash_message %}
            {% for message in app.flashes('info') %}
                <div class="flash notice-flashes">
                    <div class="flash__inner">{{ message|trans }}</div>
                </div>
            {% endfor %}

            {% block extra_flash_messages '' %}
        {% endblock %}

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('sonata_admin_dashboard') }}">
                {{ 'admin.dashboard.link'|trans }}
            </a>
        {% elseif is_granted('ROLE_ACTOR') %}
            {{ 'common.hello'|trans({ '%actor%': app.user.firstName }) }}
            ({{ app.user.emailAddress }})
            <ul>
                <li>
                    <a href="{{ path('app_actor_profile_edit') }}">
                        {{ 'actor.profile.edit.link.default'|trans }}
                    </a>
                </li>
                {% if is_granted('GROUP_CREATE') %}
                    <li>
                        <a href="{{ path('app_group_creation_create') }}">
                            {{ 'group.creation.create.link.default'|trans }}
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('app_logout') }}">
                        {{ 'security.logout.link'|trans }}
                    </a>
                </li>
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li class="text--small">
                        <a href="{{ path('app_admin_impersonation_exit') }}">
                            {{ 'admin.impersonation.quit.link'|trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% else %}
            <ul>
                <li>
                    <a href="{{ path('app_login') }}">
                        {{ 'security.login.link.default'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_actor_registration_register') }}">
                        {{ 'actor.registration.register.link.default'|trans }}
                    </a>
                </li>
            </ul>
        {% endif %}
        <hr>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
