{% extends 'base.html.twig' %}

{% block title instance_configuration.partyName %}

{% block body %}
<div class="home">
    <div class="home__intro" style="background-image: url('{{ image_asset('fixtures/home/default.jpg') }}');">
        <h3 class="home__intro__subtitle">
            {{ 'home.intro.sub'|trans }}
        </h3>
        <h2 class="home__intro__title">
            {{ 'home.intro.main'|trans }}
        </h2>
        <a href="{{ path('app_actor_registration_register') }}" class="btn btn-primary btn-lg">
            {{ 'home.intro.button'|trans }}
        </a>
    </div>

    <div class="home__events">
        <div class="row">
            <div class="col-4">
                <div class="card card--event">
                    <h4 class="card__title">
                        <a href="">
                            Atelier de discussion stratégie de mise en place
                        </a>
                    </h4>

                    <div class="card__subtitle">
                        Jeudi 12 avril 2019
                    </div>

                    <div class="card__subtitle">
                        34 participants
                    </div>

                    <div class="card__user">
                        <div class="card__user__image">
                            <img src="{{ image_asset('fixtures/users/default.jpg', {'w': 100}) }}" />
                        </div>
                        <div class="card__user__profile">
                            Organisé par <a href="">Titouan G</a>
                            <br />
                            De <a href="">Paris XIème</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card--event">
                    <h4 class="card__title">
                        <a href="">
                            Atelier de discussion stratégie de mise en place
                        </a>
                    </h4>

                    <div class="card__subtitle">
                        Jeudi 12 avril 2019
                    </div>

                    <div class="card__subtitle">
                        34 participants
                    </div>

                    <div class="card__user">
                        <div class="card__user__image">
                            <img src="{{ image_asset('fixtures/users/default.jpg', {'w': 100}) }}" />
                        </div>
                        <div class="card__user__profile">
                            Organisé par <a href="">Titouan G</a>
                            <br />
                            De <a href="">Paris XIème</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card--event">
                    <h4 class="card__title">
                        <a href="">
                            Atelier de discussion stratégie de mise en place
                        </a>
                    </h4>

                    <div class="card__subtitle">
                        Jeudi 12 avril 2019
                    </div>

                    <div class="card__subtitle">
                        34 participants
                    </div>

                    <div class="card__user">
                        <div class="card__user__image">
                            <img src="{{ image_asset('fixtures/users/default.jpg', {'w': 100}) }}" />
                        </div>
                        <div class="card__user__profile">
                            Organisé par <a href="">Titouan G</a>
                            <br />
                            De <a href="">Paris XIème</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-5">
            <a href="" class="btn btn-outline-primary btn-lg">
                Voir tous les événements
            </a>
        </div>
    </div>
</div>
{% endblock %}
