{% extends 'admin/security/base.html.twig' %}

{% block title %}Authentication code{% endblock %}

{% block login_wrapper %}
    {% if authenticationError %}
        <div class="alert alert-danger alert-error">
            {{ authenticationError|trans(authenticationErrorData) }}
        </div>
    {% endif %}

    <p class="login-box-msg">Authentication code</p>

    <form action="{{ path("admin_security_2fa_check") }}" method="post" role="form">
        <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">

        <div class="form-group has-feedback">
            <input class="form-control"
                   id="_auth_code"
                   name="{{ authCodeParameterName }}"
                   placeholder="Authentication code"
                   type="text"
                   autocomplete="off"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <a href="{{ path("app_admin_logout") }}" class="btn btn-default btn-block btn-flat">
                    Cancel
                </a>
            </div>
            <div class="col-xs-8">
                <button type="submit" class="btn btn-primary btn-block btn-flat">
                    Continue
                </button>
            </div>
        </div>
    </form>
{% endblock %}
